
httpx==0.18.2
xrpl-py==1.7.0
toml
pydantic
protobuf
watchdog
blinker
click
packaging
importlib_metadata
numpy
pyarrow
pandas
cachetools
PIL
pillow
altair
tornado
validators
requests
google-cloud-aiplatform
google-ai-generativelanguage
google-generativeai==0.3.2
astrapy
cassandra-driver
multidict
yarl
async-timeout
attrs
aiosignal
langchain-core>=0.1.0
langchain>=0.1.0
langchain-community>=0.0.10
langchain-google-genai>=0.0.5
langchain-astradb>=0.3.5